@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "@iconify/tailwind4";

html {
  @apply box-border h-screen w-screen;
}

body {
  @apply m-0 box-border size-full p-0;
}

::-webkit-scrollbar {
  @apply hidden;
}

.sidebarHidden {
  visibility: hidden;
  opacity: 0;
}

.sidebarVisible {
  visibility: visible;
  opacity: 1;
}

.sidebarCollapseTransition {
  transition:
    visibility 0s,
    opacity 0.5s linear;
}
